.drum{
  display:inline-block;
height:150px;
width:150px;
margin:15px;
font-size:2.5rem;
border-radius:10px;
border:8px solid #35426aa7 ;
color:rgba(211, 232, 78, 0.775);
text-shadow:3px 0px #33887f;

font-style:italic;

}

body{
  background-color:#293149;
  text-align:center;
  ;
}

.drumcontainer{
text-align:center;
margin:10px;
padding:4%;
}

.heading{
  font-size:3rem;
  color:#DBECF3;
text-shadow:2px 0px #33887f;


}
.drumimg{
  height:110px;
  width:110px;
}

.w{
  background-image:url("/Users/prakharjain/Documents/Code/web-dev2/05-javascript/Drum Kit Starting Files/images/tom1.png");
}

.a{
  background-image:url("/Users/prakharjain/Documents/Code/web-dev2/05-javascript/Drum Kit Starting Files/images/tom2.png");
}
.s{
  background-image:url("/Users/prakharjain/Documents/Code/web-dev2/05-javascript/Drum Kit Starting Files/images/tom3.png");
}
.d{
  background-image:url("/Users/prakharjain/Documents/Code/web-dev2/05-javascript/Drum Kit Starting Files/images/tom4.png");
}
.j{
  background-image:url("/Users/prakharjain/Documents/Code/web-dev2/05-javascript/Drum Kit Starting Files/images/kick.png");
}
.k{
  background-image:url("/Users/prakharjain/Documents/Code/web-dev2/05-javascript/Drum Kit Starting Files/images/snare.png");
}
.l{
  background-image:url("/Users/prakharjain/Documents/Code/web-dev2/05-javascript/Drum Kit Starting Files/images/crash.png");
}

.pressed {
  box-shadow: 0 3px 4px 0 #DBEDF3;
    opacity: 0.5;
  }
  